/*------------------------------------------------
*	Template name: Chosen
*	Version      : 1.0.1
*	Author       : FlaTheme
*	Author URL   : http://themeforest.net/user/flatheme
*
*	Table of contents:
*	1. 	Body/Main
*	2.	Icon/Toggle Menu
*	3.	Sticky Social Media buttons
*	4.	Home/Header section
*	5.	About section
*	6.	Services section
*	7.	Portfolio section
*	8.	Clients section
*	9.	Resume section
*	10.	Facts section
*	11. Blog section
*	12. Testimonial section
*	13. Contact section
*	14. Footer
*
-------------------------------------------------*/

/*-------------------------------------------------
	1. Body/Main
-------------------------------------------------*/
body {
	overflow-x: hidden;
	background: rgb(245, 245, 245);
	margin: 0;
	padding: 0;
	color: rgb(100, 100, 100);
	font: 300 14px 'Lato', sans-serif;
	letter-spacing: 0.5px;
}

h1, h2, h3, h4 {
	margin: 0 0 15px;
	color: rgb(20, 20, 20);
}

h1 {
	font: 900 36px 'Lato', sans-serif;
	letter-spacing: 0.5px;
}

h2 {
	font: 900 24px 'Lato', sans-serif;
	letter-spacing: 0.5px;
}

h3 {
	font: 900 18px 'Lato', sans-serif;
	letter-spacing: 0.5px;
}

h4 {
	font: 400 12px 'Lato', sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

p {
	margin: 0;
	line-height: 26px;
}

a, a:hover {
	text-decoration: none;
}

.row, ul, li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

img {
	width: 100%;
	height: auto;
}

a:focus, 
input:focus, 
textarea:focus, 
button:focus {
	outline: none;
}

.wrapper {
	position: relative;
	padding: 0 20px;
}

/* Section Title */
.section-title {
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
	text-align: center;
	font: 400 14px 'Lato', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section-title::before, 
.section-title::after {
	content: '';
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
	z-index: -1;
	border-radius: 50%;
}

.section-title::before {
	top: -6px;
	left: 50%;
	background: rgb(238, 238, 238);
	width: 29px;
	height: 29px;
}

.section-title::after {
	top: -9px;
	left: 50%;
	border: 1px solid rgb(238, 238, 238);
	width: 35px;
	height: 35px;
}

/*-------------------------------------------------
	2. Icon/Toggle Menu
-------------------------------------------------*/
/* Toggle button */
.toggle-btn {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 3;
	background: rgb(20, 20, 20);
	width: 44px;
	height: 44px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 50%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	color: #fff;
	cursor: pointer;
}

.lines {
	position: relative;
	display: inline-block;
	background: #fff;
	width: 18px;
	height: 2px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.lines::before,
.lines::after {
	position: absolute;
	content: '';
	left: 0;
	display: inline-block;
	background: #fff;
	width: 18px;
	height: 2px;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.lines::before {
	top: 5px;
}

.lines::after {
	top: -5px;
}

.toggle-close .lines {
	background: transparent;
}

.toggle-close .lines::before, 
.toggle-close .lines::after {
	top: 0;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.toggle-close .lines::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.toggle-close .lines::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}
/* end Toggle button */

.icon-menu {
	z-index: 2;
	width: 44px;
	padding-left: 4px;
	text-align: center;
}

.icon-menu ul li {
	margin-bottom: 15px;
}

.icon-menu ul li:last-child {
	margin: 0;
}

.icon-menu ul li a {
	position: relative;
	display: inline-block;
	z-index: 1;
	width: 36px;
	height: 36px;
	line-height: 36px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	color: rgb(100, 100, 100);
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.icon-menu ul li a i {
	display: inline-block;
	padding-top: 1px;
	font-size: 15px;
}

.icon-menu ul li a::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: rgb(235, 235, 235);
	border-radius: 50%;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.icon-menu ul li a:hover, 
.icon-menu ul li a:focus {
	color: rgb(20, 20, 20);
}

.nav .nav-item .nav-link.active {
	color: #fff;
}

.nav .nav-item .nav-link.active i {
	font-size: 18px;
}

.nav .nav-item .nav-link.active::before {
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	background: rgb(20, 20, 20);
}

/*-------------------------------------------------
	3. Sticky Social Media buttons
-------------------------------------------------*/
.sticky-socialWrapper {
	z-index: 2;
}

.sticky-social {
	text-align: center;
}

.sticky-social ul li:last-child {
	margin: 0;
}

.sticky-social ul li a {
	display: inline-block;
	background: rgb(230, 230, 230);
	width: 36px;
	height: 36px;
	line-height: 36px;
	color: rgb(100, 100, 100);
	border-radius: 50%;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.sticky-social ul li a:hover, 
.sticky-social ul li a:focus {
	color: rgb(20, 20, 20);
}

/*-------------------------------------------------
	4. Home/Header section
-------------------------------------------------*/
.home-background {
	background: url("../images/background.jpg") no-repeat center center;
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.homeWrapper {
	background: rgba(0, 0, 0, 0.7);
	padding: 200px 0;
}

.homeWrapper .container {
	padding: 0 20px;
}

.homeWrapper h1, 
.homeWrapper h3 {
	color: #fff;
}

.homeWrapper h3 {
	margin-bottom: 30px;
	font-weight: 300;
}

.btn-style {
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: inline-block;
	border: 1px solid #fff;
	padding: 15px 30px;
	color: #fff;
	font: 400 12px 'Lato', sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.btn-style::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: #fff;
	width: 0;
	height: 100%;
	-webkit-transition: ease-out 0.2s;
	transition: ease-out 0.2s;
}

.btn-style:hover {
	color: rgb(20, 20, 20);
}

.btn-style:hover::before, 
.btn-style:focus::before {
	width: 100%;
}

/*-------------------------------------------------
	5. About section
-------------------------------------------------*/
.about-background {
	background: #fff;
	margin-top: 50px;
	padding: 50px 15px 60px;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
}

.avatar {
	max-width: 120px;
	width: auto;
}

.avatar img {
	border-radius: 50%;
}

/* Styles for changing Avatar images on hover */
.avatar-multi {
	position: relative;
}

.avatar-multi img {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: ease-out 0.2s;
	transition: ease-out 0.2s;
}

.avatar-multi img:last-child {
	opacity: 0;
}

.about-background:hover .avatar-multi img:last-child {
	opacity: 1;
}
/* end Styles for changing Avatar images on hover */

.about-text h3 {
	margin-bottom: 13px;
}

.about-text h4 {
	margin-bottom: 9px;
	line-height: 26px;
}

/* Skills */
.skills-box {
	margin-bottom: 25px;
}

.progress {
	overflow: visible;
	background: rgba(255, 255, 255, 0.1);
	height: 4px;
	margin: 0;
	padding: 0;
}

.progress-bar {
	position: relative;
	background: rgb(20, 20, 20);
	height: 1px;
	border: none;
}

.progress, 
.progress-bar {
	box-shadow: none;
	border-radius: 0;
}

.progress-bar span {
	position: absolute;
	top: -7px;
	right: 0;
	display: inline-block;
	background: #fff;
	padding-left: 10px;
	color: rgb(100, 100, 100);
	text-align: right;
	font-size: 13px;
	line-height: 13px;
	font-style: italic;
}

/*-------------------------------------------------
	6. Services section
-------------------------------------------------*/
.services-background {
	background: url("../images/background.jpg") no-repeat center center;
	background-size: cover;
	margin-top: 50px;
}

.services-box {
	padding: 0;
}

.services-box div {
	background: rgb(20, 20, 20);
	padding: 60px 30px;
	color: #fff;
	text-align: center;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.services-box i {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 32px;
}

.services-box h4 {
	margin: 0;
	color: #fff;
	line-height: 26px;
}

.services-box div:hover, 
.services-box div:focus {
	background: rgba(20, 20, 20, 0.7);
}

/*-------------------------------------------------
	7. Portfolio section
-------------------------------------------------*/
.portfolio-background {
	background: #fff;
	margin-top: 50px;
	padding-top: 50px;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
}

.portfolio-filter {
	margin-bottom: 35px;
	padding: 0 15px;
	text-align: center;
}

.portfolio-filter ul li {
	position: relative;
	display: inline-block;
	margin: 0 15px 14px;
	font: 400 12px 'Lato', sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.portfolio-filter ul li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	background: rgb(20, 20, 20);
	width: 0;
	height: 1px;
	-webkit-transition: ease-out 0.2s;
	transition: ease-out 0.2s;
}

.portfolio-filter ul li.mixitup-control-active::before {
	width: 100%;
}

.portfolio-filter ul li:hover, 
.portfolio-filter ul li:focus {
	color: rgb(20, 20, 20);
}

.mix {
	padding: 0;
}

.portfolio-box {
	position: relative;
}

.portfolio-box a {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	background: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 100%;
	color: rgb(100, 100, 100);
	-webkit-transition: ease-out 0.2s;
	transition: ease-out 0.2s;
}

.portfolio-box a div {
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.portfolio-box a h4, 
.portfolio-box a span {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	opacity: 0;
	-webkit-transition: ease-out 0.2s;
	transition: ease-out 0.2s;
}

.portfolio-box a span {
	display: block;
	font-size: 13px;
	font-style: italic;
}

.portfolio-box:hover a, 
.portfolio-box:focus a {
	visibility: visible;
	opacity: 1;
}

.portfolio-box:hover a h4, 
.portfolio-box:hover a span {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.portfolio-box:hover a h4 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.portfolio-box:hover a span {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

/* Popup box styles */
.mfp-container {
	padding: 0 20px;
}

.popup-box {
	position: relative;
	background: #fff;
	width: auto;
	max-width: 500px;
	margin: 0 auto;
}

.popup-box div {
	padding: 30px;
}

button.mfp-close {
	display: block;
	top: -44px;
	opacity: 1;
	width: auto;
	height: auto;
	line-height: auto;
	font-size: 24px;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.mfp-close-btn-in .mfp-close {
	color: rgba(255, 255, 255, 0.7);
}

button.mfp-close:hover {
	top: -44px;
	opacity: 1;
	color: #fff;
}

/*-------------------------------------------------
	8. Clients section
-------------------------------------------------*/
.clients-background {
	background: url("../images/background.jpg") no-repeat center center;
	background-size: cover;
	margin-top: 50px;
}

.clientsWrapper {
	background: rgba(0, 0, 0, 0.7);
	padding: 60px 30px;
	color: rgba(255, 255, 255, 0.7);
}

.clients-container {
	max-width: 640px;
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.clients-container img {
	display: inline-block;
	max-width: 195px;
	width: auto;
	margin: 0 auto;
}

.clientsCustomNavigation {
	margin-top: 15px;
}

.clientsCustomNavigation ul li {
	display: inline-block;
	margin: 0 15px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	cursor: pointer;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.clientsCustomNavigation ul li:hover, 
.clientsCustomNavigation ul li:focus {
	color: #fff;
}

/*-------------------------------------------------
	9. Resume section
-------------------------------------------------*/
.resume-background {
	background: #fff;
	margin-top: 50px;
	padding: 50px 15px 60px;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
}

.resume-box {
	position: relative;
	margin-bottom: 25px;
}

.resume-box h4 {
	margin-bottom: 9px;
	line-height: 26px;
}

.resume-box:last-child {
	margin: 0;
}

.resume-year span {
	position: relative;
	display: inline-block;
	background: rgb(240, 240, 240);
	padding: 5px 10px;
	font-size: 13px;
}

.resume-content span {
	font-style: italic;
	line-height: 26px;
}

/*-------------------------------------------------
	10. Facts section
-------------------------------------------------*/
.facts-background {
	background: rgb(30, 30, 30);
	margin-top: 50px;
	padding: 60px 15px;
}

.facts-box {
	color: #fff;
	text-align: center;
}

.facts-box span {
	display: block;
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 300;
}

.facts-box h4 {
	margin: 0;
	color: #fff;
	line-height: 26px;
}

/*-------------------------------------------------
	11. Blog section
-------------------------------------------------*/
.blog-background {
	background: #fff;
	margin-top: 50px;
	padding: 50px 0 0;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
}

.blog-post-img {
	position: relative;
	overflow: hidden;
}

.blog-post-img a {
	display: block;
}

.blog-post-img img {
	-webkit-transition: ease-out 0.2s;
	transition: ease-out 0.2s;
}

.blog-post-img:hover img, 
.blog-post-img:focus img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.blog-post-content {
	padding: 30px;
}

.blog-post-content ul {
	margin-bottom: 13px;
}

.blog-post-content ul li {
	display: inline-block;
	font-size: 13px;
	font-style: italic;
}

.blog-post-content ul li::after {
	content: '-';
	padding-left: 5px;
}

.blog-post-content ul li:last-child::after {
	content: '';
}

.readmore-btn {
	position: relative;
	display: inline-block;
	margin-top: 24px;
	color: rgb(20, 20, 20);
	font: 400 12px 'Lato', sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.readmore-btn::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	background: rgb(20, 20, 20);
	width: 0;
	height: 1px;
	-webkit-transition: ease-out 0.2s;
	transition: ease-out 0.2s;
}

.readmore-btn:hover, 
.readmore-btn:focus {
	color: rgb(20, 20, 20);
}

.readmore-btn:hover::before, 
.readmore-btn:focus::before {
	width: 100%;
}

.customNavigation {
	background: rgb(248, 248, 248);
	padding: 30px;
	text-align: center;
}

.customNavigation ul li {
	display: inline-block;
	margin: 0 15px;
	color: rgb(100, 100, 100);
	font-size: 18px;
	cursor: pointer;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.customNavigation ul li:hover, 
.customNavigation ul li:focus {
	color: rgb(20, 20, 20);
}

/*-------------------------------------------------
	12. Testimonial section
-------------------------------------------------*/
.testimonial-background {
	background: url("../images/background.jpg") no-repeat center center;
	background-size: cover;
	margin-top: 50px;
}

.testimonialWrapper {
	background: rgba(0, 0, 0, 0.7);
	padding: 60px 30px;
	color: rgba(255, 255, 255, 0.7);
}

.testimonial-container {
	position: relative;
	max-width: 640px;
	width: auto;
	margin: 0 auto;
}

.testimonial-box i, 
.testimonial-box h4 {
	color: #fff;
}

.testimonial-box i {
	margin-top: 15px;
}

.testimonial-box h4 {
	margin: 20px 0 0;
}

/* owl dots style */
.owl-dots {
	position: absolute;
	right: 0;
	bottom: 0;
}

.owl-dot {
	position: relative;
	display: inline-block;
	background: transparent;
	width: 7px;
	height: 7px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	margin-left: 15px;
}

.owl-dot:first-child {
	margin: 0;
}

.owl-dot:hover,
.owl-dot:focus,  
.owl-dot.active {
	background: transparent;
	border-color: #fff;
}

/*-------------------------------------------------
	13. Contact section
-------------------------------------------------*/
.contact-background {
	margin-top: 50px;
	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.15);
}

.contact-form-background {
	background: #fff;
	padding: 50px 30px 60px;
}

.contact-form {
	max-width: 640px;
	width: auto;
	margin: 0 auto;
}

.input-style {
	width: 100%;
}

.input-style div {
	margin-bottom: 15px;
}

.input-style input, 
.text-style textarea {
	background: transparent;
	width: 100%;
	padding: 15px;
	border: 1px solid rgb(230, 230, 230);
	color: rgb(100, 100, 100);
	font: 300 14px 'Lato', sans-serif;
	letter-spacing: 0.5px;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.text-style textarea {
	height: 120px;
}

::-webkit-input-placeholder {
	letter-spacing: 0.5px;
	color: rgb(100, 100, 100);
}

:-moz-placeholder {
	letter-spacing: 0.5px;
	color: rgb(100, 100, 100); 
}

::-moz-placeholder {
	letter-spacing: 0.5px;
	color: rgb(100, 100, 100); 
}

.contact-form button {
	position: relative;
	z-index: 1;
	background: transparent;
	margin-top: 15px;
	padding: 15px 30px;
	border: 1px solid rgb(20, 20, 20);
	color: rgb(20, 20, 20);
	font: 400 12px 'Lato', sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
	cursor: pointer;
}

.contact-form button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: rgb(20, 20, 20);
	width: 0;
	height: 100%;
	-webkit-transition: ease-out 0.2s;
	transition: ease-out 0.2s;
}

.contact-form button:hover, 
.contact-form button:focus {
	color: #fff;
}

.contact-form button:hover::before, 
.contact-form button:focus::before {
	width: 100%;
}

#success, 
#error {
	display: none;
	margin-top: 30px;
}

#success {
	color: #419873;
}

#error {
	color: red;
}

/* Contact Info */
.contact-info-background {
	background: rgb(248, 248, 248);
	padding: 60px 15px;
	text-align: center;
}

.contact-info-background i {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 32px;
}

/*-------------------------------------------------
	14. Footer
-------------------------------------------------*/
.footer-background {
	background: rgb(20, 20, 20);
	margin-top: 50px;
	padding: 60px 0;
	color: rgba(255, 255, 255, 0.7);
}

.footer-background .container {
	padding: 0 20px;
}

.no-padding {
	padding: 0;
}

.footer-social {
	text-align: right;
}

.footer-social ul li {
	display: inline-block;
	margin-right: 10px;
	text-align: center;
}

.footer-social ul li:last-child {
	margin: 0;
}

.footer-social ul li a {
	display: block;
	background: rgb(10, 10, 10);
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 50%;
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}

.footer-social ul li a:hover, 
.footer-social ul li a:focus {
	color: #fff;
}